## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
TessOI_df = pd.read_csv("https://exofop.ipac.caltech.edu/tess/download_toi.php?sort=toi&output=csv")
TessOI_df.head()

,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,SG5,...,Stellar Radius (R_Sun) err,Stellar Metallicity,Stellar Metallicity err,Stellar Mass (M_Sun),Stellar Mass (M_Sun) err,Sectors,Date TOI Alerted (UTC),Date TOI Updated (UTC),Date Modified,Comments
0,231663901,101.01,NaN,5,5,5,5,5,5,5,...,0.043847,NaN,NaN,1.05,0.129454,"1,27",2018-09-05,2021-10-07,2022-12-14 12:09:24,WASP-46 b
1,149603524,102.01,NaN,5,5,5,5,5,5,5,...,0.050000,0.24,0.05,1.28,0.190812,"1,2,3,4,6,7,8,9,10,11,12,13,27,28,29,30,31,32,...",2019-05-07,2023-04-04,2023-04-07 12:13:06,WASP 62 b
2,336732616,103.01,NaN,5,5,5,5,5,5,5,...,NaN,NaN,NaN,1.27,0.196969,1,2018-09-05,2020-10-27,2022-12-14 12:09:24,HATS-3 b
3,231670397,104.01,NaN,5,5,5,5,5,5,5,...,0.102573,NaN,NaN,1.16,0.166129,"1,27",2018-09-05,2021-12-01,2022-12-14 12:09:24,WASP-73 b
4,144065872,105.01,NaN,5,5,5,5,5,5,5,...,0.059699,NaN,NaN,1.03,0.127209,"1,28",2018-09-05,2021-12-08,2022-12-14 12:09:24,WASP-95; epoch kept from qlp-s28-tois

In [2]:
TessOI_df.columns

Index(['TIC ID', 'TOI', 'Previous CTOI', 'Master', 'SG1A', 'SG1B', 'SG2',
       'SG3', 'SG4', 'SG5', 'ESM', 'TSM', 'Predicted Mass (M_Earth)',
       'Time Series Observations', 'Spectroscopy Observations',
       'Imaging Observations', 'TESS Disposition', 'TFOPWG Disposition',
       'TESS Mag', 'TESS Mag err', 'Planet Name', 'Pipeline Signal ID',
       'Source', 'Detection', 'RA', 'Dec', 'PM RA (mas/yr)',
       'PM RA err (mas/yr)', 'PM Dec (mas/yr)', 'PM Dec err (mas/yr)',
       'Epoch (BJD)', 'Epoch (BJD) err', 'Period (days)', 'Period (days) err',
       'Duration (hours)', 'Duration (hours) err', 'Depth (mmag)',
       'Depth (mmag) err', 'Depth (ppm)', 'Depth (ppm) err',
       'Planet Radius (R_Earth)', 'Planet Radius (R_Earth) err',
       'Planet Insolation (Earth Flux)', 'Planet Equil Temp (K)', 'Planet SNR',
       'Stellar Distance (pc)', 'Stellar Distance (pc) err',
       'Stellar Eff Temp (K)', 'Stellar Eff Temp (K) err',
       'Stellar log(g) (cm/s^2)', 'Stellar log(g) (cm/s^2) err',
       'Stellar Radius (R_Sun)', 'Stellar Radius (R_Sun) err',
       'Stellar Metallicity', 'Stellar Metallicity err',
       'Stellar Mass (M_Sun)', 'Stellar Mass (M_Sun) err', 'Sectors',
       'Date TOI Alerted (UTC)', 'Date TOI Updated (UTC)', 'Date Modified',
       'Comments'],
      dtype='object')

In [3]:
# Drop the non-beneficial ID columns
TessOI_pre_df = TessOI_df.drop(['TIC ID', 'TOI', 'Previous CTOI', 'Master', 'SG1A', 'SG1B', 'SG2',
       'SG3', 'SG4', 'SG5', 'ESM', 'TSM', 'Predicted Mass (M_Earth)',
       'Time Series Observations', 'Spectroscopy Observations',
       'Imaging Observations','TESS Disposition',
       'TESS Mag err', 'Planet Name', 'Pipeline Signal ID',
       'Source', 'Detection','PM RA (mas/yr)','PM Dec (mas/yr)',
       'PM RA err (mas/yr)', 'PM Dec err (mas/yr)', 'Epoch (BJD) err', 'Period (days) err',
       'Duration (hours) err', 'Depth (mmag)',
       'Depth (mmag) err', 'Depth (ppm) err',
       'Planet Radius (R_Earth) err',
       'Planet SNR',
       'Stellar Distance (pc) err',
       'Stellar Eff Temp (K) err',
       'Stellar log(g) (cm/s^2) err',
       'Stellar Radius (R_Sun) err',
       'Stellar Metallicity', 'Stellar Metallicity err',
       'Stellar Mass (M_Sun)', 'Stellar Mass (M_Sun) err', 'Sectors',
       'Date TOI Alerted (UTC)', 'Date TOI Updated (UTC)', 'Date Modified',
       'Comments'],1)
TessOI_pre_df.head()

<ipython-input-3-76540445cf53>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  TessOI_pre_df = TessOI_df.drop(['TIC ID', 'TOI', 'Previous CTOI', 'Master', 'SG1A', 'SG1B', 'SG2',

,TFOPWG Disposition,TESS Mag,RA,Dec,Epoch (BJD),Period (days),Duration (hours),Depth (ppm),Planet Radius (R_Earth),Planet Insolation (Earth Flux),Planet Equil Temp (K),Stellar Distance (pc),Stellar Eff Temp (K),Stellar log(g) (cm/s^2),Stellar Radius (R_Sun)
0,KP,12.4069,21:14:56.88,-55:52:18.71,2.459037e+06,1.430369,1.643873,19151.216214,13.250493,1281.241792,1525.905097,375.310,5600.0,4.48851,0.890774
1,KP,9.7109,05:48:33.56,-63:59:17.98,2.460011e+06,4.411938,3.728000,15219.000000,15.569000,782.274000,1473.000000,175.631,6280.0,4.32092,1.210000
2,KP,11.5232,20:49:49.8,-24:25:43.3,2.458327e+06,3.547854,3.494333,10424.371800,14.581841,1212.004376,1504.858953,411.211,6351.0,4.22896,1.400000
3,KP,9.8638,21:19:47.93,-58:08:56.16,2.459039e+06,4.087299,5.586113,3572.171250,13.623773,2242.360540,1755.076738,316.678,6036.0,3.93359,2.218670
4,KP,9.4995,22:29:49.88,-48:00:11.16,2.459085e+06,2.184667,2.865280,11708.022855,13.702853,1362.138143,1549.440980,137.544,5630.0,4.37759,1.238240

In [4]:
# Look at 'TESS Disposition' value counts
TessOI_pre_df["TFOPWG Disposition"].value_counts()

PC     4343
FP      923
KP      512
APC     385
CP      342
FA       80
Name: TFOPWG Disposition, dtype: int64

In [5]:
TessOI_TnF_df = TessOI_pre_df.drop(TessOI_pre_df.loc[(TessOI_pre_df["TFOPWG Disposition"] == "APC")|(TessOI_pre_df["TFOPWG Disposition"] == "PC")].index)

In [6]:
TessOI_TnF_df["TFOPWG Disposition"].value_counts()

FP    923
KP    512
CP    342
FA     80
Name: TFOPWG Disposition, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
false_types_to_replace = ["FP","FA"]
true_types_to_replace = ["KP","CP"]
# Replace in dataframe
for app in false_types_to_replace:
    TessOI_TnF_df["TFOPWG Disposition"] = TessOI_TnF_df["TFOPWG Disposition"].replace(app,0)

for app in true_types_to_replace:
    TessOI_TnF_df["TFOPWG Disposition"] = TessOI_TnF_df["TFOPWG Disposition"].replace(app,1)
# Check to make sure binning was successful
TessOI_TnF_df["TFOPWG Disposition"].value_counts()

0.0    1003
1.0     854
Name: TFOPWG Disposition, dtype: int64

In [8]:
TessOI_TnF_df.count()

TFOPWG Disposition                1857
TESS Mag                          1871
RA                                1871
Dec                               1871
Epoch (BJD)                       1871
Period (days)                     1871
Duration (hours)                  1871
Depth (ppm)                       1871
Planet Radius (R_Earth)           1758
Planet Insolation (Earth Flux)    1808
Planet Equil Temp (K)             1783
Stellar Distance (pc)             1830
Stellar Eff Temp (K)              1833
Stellar log(g) (cm/s^2)           1679
Stellar Radius (R_Sun)            1758
dtype: int64

In [9]:
# 

TessOI_TnF_df = TessOI_TnF_df.dropna()

In [10]:
TessOI_TnF_df.count()

TFOPWG Disposition                1603
TESS Mag                          1603
RA                                1603
Dec                               1603
Epoch (BJD)                       1603
Period (days)                     1603
Duration (hours)                  1603
Depth (ppm)                       1603
Planet Radius (R_Earth)           1603
Planet Insolation (Earth Flux)    1603
Planet Equil Temp (K)             1603
Stellar Distance (pc)             1603
Stellar Eff Temp (K)              1603
Stellar log(g) (cm/s^2)           1603
Stellar Radius (R_Sun)            1603
dtype: int64

In [11]:
# Convert Celestial Coordinates to Lat and Lon
from astropy.coordinates import SkyCoord
from astropy import units as u
from astropy.coordinates import ICRS, Galactic, FK4, FK5

ra1 = TessOI_TnF_df.RA.tolist()
dec1 = TessOI_TnF_df.Dec.tolist()
c = SkyCoord(ra = ra1,dec = dec1, unit=(u.hourangle, u.deg))

TessOI_TnF_df["lat"] = c.dec.degree
TessOI_TnF_df["lon"] = c.ra.degree

In [12]:
TessOI_TnF_df.head()

,TFOPWG Disposition,TESS Mag,RA,Dec,Epoch (BJD),Period (days),Duration (hours),Depth (ppm),Planet Radius (R_Earth),Planet Insolation (Earth Flux),Planet Equil Temp (K),Stellar Distance (pc),Stellar Eff Temp (K),Stellar log(g) (cm/s^2),Stellar Radius (R_Sun),lat,lon
0,1.0,12.4069,21:14:56.88,-55:52:18.71,2.459037e+06,1.430369,1.643873,19151.216214,13.250493,1281.241792,1525.905097,375.310,5600.0,4.48851,0.890774,-55.871864,318.737000
1,1.0,9.7109,05:48:33.56,-63:59:17.98,2.460011e+06,4.411938,3.728000,15219.000000,15.569000,782.274000,1473.000000,175.631,6280.0,4.32092,1.210000,-63.988328,87.139833
2,1.0,11.5232,20:49:49.8,-24:25:43.3,2.458327e+06,3.547854,3.494333,10424.371800,14.581841,1212.004376,1504.858953,411.211,6351.0,4.22896,1.400000,-24.428694,312.457500
3,1.0,9.8638,21:19:47.93,-58:08:56.16,2.459039e+06,4.087299,5.586113,3572.171250,13.623773,2242.360540,1755.076738,316.678,6036.0,3.93359,2.218670,-58.148933,319.949708
4,1.0,9.4995,22:29:49.88,-48:00:11.16,2.459085e+06,2.184667,2.865280,11708.022855,13.702853,1362.138143,1549.440980,137.544,5630.0,4.37759,1.238240,-48.003100,337.457833

In [63]:
TessOI_TnF_df.to_csv('/out.csv')

In [15]:
# Remove position columns

TessOI_TnF_df = TessOI_TnF_df.drop(['RA', 'Dec'],1)

<ipython-input-15-9f28f00faac6>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  TessOI_TnF_df = TessOI_TnF_df.drop(['RA', 'Dec'],1)

In [16]:
# Split our preprocessed data into our features and target arrays
y = TessOI_TnF_df["TFOPWG Disposition"].values
X = TessOI_TnF_df.drop(["TFOPWG Disposition"],1).values
# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)

<ipython-input-16-815fe960bea2>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = TessOI_TnF_df.drop(["TFOPWG Disposition"],1).values

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
TessOI_TnF_df.drop(["TFOPWG Disposition"],1).columns

<ipython-input-21-674cf87476f2>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  TessOI_TnF_df.drop(["TFOPWG Disposition"],1).columns

Index(['TESS Mag', 'Epoch (BJD)', 'Period (days)', 'Duration (hours)',
       'Depth (ppm)', 'Planet Radius (R_Earth)',
       'Planet Insolation (Earth Flux)', 'Planet Equil Temp (K)',
       'Stellar Distance (pc)', 'Stellar Eff Temp (K)',
       'Stellar log(g) (cm/s^2)', 'Stellar Radius (R_Sun)', 'lat', 'lon'],
      dtype='object')

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 10


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = "relu"))
 
# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                130

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 251
Trainable params: 251
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics =["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs = 15)

Epoch 1/15
38/38 [==============================] - 1s 2ms/step - loss: 0.6487 - accuracy: 0.6439
Epoch 2/15
38/38 [==============================] - 0s 2ms/step - loss: 0.6039 - accuracy: 0.6938
Epoch 3/15
38/38 [==============================] - 0s 2ms/step - loss: 0.5694 - accuracy: 0.7230
Epoch 4/15
38/38 [==============================] - 0s 2ms/step - loss: 0.5430 - accuracy: 0.7288
Epoch 5/15
38/38 [==============================] - 0s 2ms/step - loss: 0.5221 - accuracy: 0.7413
Epoch 6/15
38/38 [==============================] - 0s 2ms/step - loss: 0.5060 - accuracy: 0.7429
Epoch 7/15
38/38 [==============================] - 0s 2ms/step - loss: 0.4933 - accuracy: 0.7537
Epoch 8/15
38/38 [==============================] - 0s 2ms/step - loss: 0.4824 - accuracy: 0.7612
Epoch 9/15
38/38 [==============================] - 0s 2ms/step - loss: 0.4731 - accuracy: 0.7604
Epoch 10/15
38/38 [==============================] - 0s 2ms/step - loss: 0.4647 - accuracy: 0.7654
Epoch 11/15
38/38 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.7762
Epoch 12/15
38/38 [==============================] - 0s 2ms/step - loss: 0.4480 - accuracy: 0.7820
Epoch 13/15
38/38 [==============================] - 0s 2ms/step - loss: 0.4406 - accuracy: 0.7870
Epoch 14/15
38/38 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.7995
Epoch 15/15
38/38 [==============================] - 0s 2ms/step - loss: 0.4277 - accuracy: 0.7962

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.4606 - accuracy: 0.7606 - 181ms/epoch - 14ms/step
Loss: 0.46061739325523376, Accuracy: 0.7605984807014465

**NEURAL NETWORK AUTO OPTIMISATION**

In [22]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 12.7 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [23]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    opti_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    opti_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=10,
        max_value=20,
        step=2), activation=activation, input_dim=len(X_train_scaled[0])))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        opti_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=4,
            max_value=20,
            step=1),
            activation=activation))
    
    opti_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    opti_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return opti_model

In [24]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [25]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 07s]
val_accuracy: 0.7356608510017395

Best val_accuracy So Far: 0.8329176902770996
Total elapsed time: 00h 04m 04s

In [26]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 18,
 'num_layers': 5,
 'units_0': 5,
 'units_1': 15,
 'units_2': 5,
 'units_3': 9,
 'units_4': 5,
 'units_5': 13,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0050'}

In [27]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 1s - loss: 0.4168 - accuracy: 0.8329 - 636ms/epoch - 49ms/step
Loss: 0.4168389141559601, Accuracy: 0.8329176902770996

In [28]:
tuner.oracle.get_best_trials()[0].trial_id

'0054'

In [23]:
# Export our model to HDF5 file
best_model.save('./Exoplanets_detection.h5')